<div class="sidebar sidebar-left">
	<div class="scrollable">
		<div class="scrollable-header" style="padding:15px; float: left;">
			<div style="float: left;">
				<a ng-href="#/haupt.php">
					<img title="{{$ctrl.account.getCurrentTeam().name}}"
						ng-src="../images/wappen/{{$ctrl.account.getCurrentTeam().image}}">
					</img>
				</a>
			</div>
			<div style="float: left;" ng-if="$ctrl.account.teams.length > 1">
				<a ng-click="$ctrl.changeToOtherTeam()">
					<img title="{{$ctrl.account.getOtherTeam().name}}" style="padding-left: 15px; opacity: 0.3;"
						ng-src="../images/wappen/{{$ctrl.account.getOtherTeam().image}}">
					</img>
				</a>
			</div>
		</div>
		<div class="scrollable-content" ui-shared-state="submenu">
			<div class="list-group">
				<div ng-repeat="item in $ctrl.menuItems">
					<div ui-shared-state="{{item.id}}">
						<a class="list-group-item" ng-href="{{item.path}}" ng-click="$ctrl.handleItemClick(item)">
							<i class="fa" ng-class="$ctrl.getIconClass(item)"></i> 
							<span ng-bind-html="item.label"></span> 
						</a>
						<div ui-if="submenu == '{{item.id}}' && {{item.id}}" ng-repeat="subitem in item.items" class="list-group" >
							<a class="list-group-item" ng-href="{{subitem.path}}" ng-click="$ctrl.handleItemClick(subitem)">
								<i class="fa fa-caret-right"></i> 
								<span ng-bind-html="subitem.label"></span>
							</a>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>