<ui-shared-state id="activeTab" default="1"></ui-shared-state>

<div class="navbar-brand navbar-brand-center" ui-content-for="title">
	<div style="position: relative; ">
		<div style="position: absolute; top: -6px;">
		    <span style="white-space: nowrap;">
		    	<span class="hidden-xs">Zugabgabe </span>ZAT {{$ctrl.move.information.zat}} <span class="hidden-xs hidden-sm hidden-md">am {{$ctrl.move.information.date | date : "dd.MM.yyyy HH:mm"}} Uhr</span> <i class="fa fa-caret-down"></i>
		    </span>
		    <br>
		    <span style="font-size: 10px; line-height: 1.2; white-space: nowrap;">
		    	<span class="visible-xs">
		    		<span ui-if="activeTab == 1">Aufstellung</span>
		    		<span ui-if="activeTab == 2">Wechsel & Einstellungen</span>
		    	</span>
		    	<span class="hidden-xs">{{$ctrl.move.information.type}}<span class="hidden-sm"> {{$ctrl.move.information.home ? 'Heim' : 'Auswärts'}}</span> gegen {{$ctrl.move.information.against.name}}</span>
		    </span>
	    </div>
    </div>
</div>

<div class="btn-group pull-right" ui-content-for="navbarAction">
	<a ui-set="{'activeTab': 1}" ui-turn-off="leftSwipe"
	    ui-class="{'active': activeTab == 1}" class="btn btn-navbar">
	    <i class="fa fa-th"></i><span class="hidden-xs"> Aufstellung</span>
	</a>
	<a ui-set="{'activeTab': 2}" 
	    ui-class="{'active': activeTab == 2}" class="btn btn-navbar">
	    <i class="fa fa-gears"></i><span class="hidden-xs"> Wechsel & Einstellungen</span>
	</a>
    <a class="btn btn-navbar" ng-click="$ctrl.load(false)">
		<i class="fa fa-folder-open-o"></i> <span class="hidden-xs">Laden</span>
    </a>
    <a class="btn btn-navbar" ng-click="$ctrl.save()">
    	<span ng-class="$ctrl.move.valid ? 'ABW' : 'STU'">
        	<i class="fa fa-save"></i> <span class="hidden-xs">Speichern</span>
        </span>
    </a>
</div>

<div class="scrollable">
	<div class="scrollable-content scroll-area">
    	<div class="section">

	      	<div style="float:left;">
	      	
		    	<div class="grid-border">
			    	<div class="grid-container">
						<div ng-repeat="row in $ctrl.grid">
							<div ng-repeat="cell in row track by $index" class="grid-cell">
								<player ng-if="cell.id" 
									object="cell" 
									on-move="$ctrl.grid.setPlayer(player, x, y)"
									on-remove="$ctrl.grid.removePlayer(player)"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="grid-cell" style="margin-left: 2px;"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell keeper-container">
					<div></div>
					<player ng-if="$ctrl.getKeeper()" 
						object="$ctrl.getKeeper()" 
						on-move="$ctrl.grid.setPlayer(player, x, y)"
						on-remove="$ctrl.grid.removePlayer(player)"></player>
				</div>
	
				<h5 style="clear: both; padding-top: 10px;"><b>Ersatzbank</b></h5>
				<div class="subst-border">
					<div class="subst-container">
						<div ng-repeat="cell in $ctrl.getSubst() track by $index" class="grid-cell">
							<player ng-if="cell.id" 
								object="cell" 
								on-move="$ctrl.grid.setPlayer(player, x, y)"
								on-remove="$ctrl.grid.removePlayer(player)"/>
						</div>
					</div>
				</div>

				<div ui-if="activeTab == 1">
					<h5><b>Statistik Startaufstellung</b></h5>
					<div style="margin-bottom: 10px;">
						Ø Alter: {{$ctrl.move.getStartPlayersAverage('alter')}}<br>
						Ø Skill: {{$ctrl.move.getStartPlayersAverage('skill')}}<br>
						Ø Opti: {{$ctrl.move.getStartPlayersAverage('opti')}}<br>
						Ø Moral: {{$ctrl.move.getStartPlayersAverage('moral')}}<br>
						Ø Fitness: {{$ctrl.move.getStartPlayersAverage('fitness')}}</div>
				</div>
				
			</div>

			<div ui-if="activeTab == 2" class="changes-container noselect">

				<div class="hidden-xs btn-group" role="group">
					<button type="button" class="btn btn-primary btn-xs" ng-repeat="option in $ctrl.move.options"
						ng-if="option.page==1 && (option.item==1 || option.item==5)" ng-click="$ctrl.addAdjustment(option)">
						<span ng-bind-html="option.text"></span> 
					</button>
				</div>
							
				<div class="visible-xs" style="margin-top: 15px;"></div>
				<div class="list-group">
			  		<div ng-repeat="adjustment in $ctrl.getAdjustments()">
						<div class="list-group-item" ng-if="adjustment.option.item==1">
							<span ng-bind-html="adjustment.text" ng-class="{markdeleted: adjustment.markDeleted, marknew: (!adjustment.id)}"></span> 
							<a ng-click="$ctrl.removeAdjustment(adjustment)"
								style="margin-left: 5px;"><b><i class="fa" ng-class="adjustment.markDeleted ? 'fa-undo' : 'fa-trash'"></i></b></a>
						</div> 
					</div> 
				</div>
				<div class="list-group" style="margin-bottom: 15px;">
			  		<div ng-repeat="adjustment in $ctrl.getAdjustments()">
						<div class="list-group-item" ng-if="adjustment.option.item==5">
							<span ng-bind-html="adjustment.text" ng-class="{markdeleted: adjustment.markDeleted, marknew: (!adjustment.id)}"></span> 
							<a ng-click="$ctrl.removeAdjustment(adjustment)"
								style="margin-left: 5px;"><b><i class="fa" ng-class="adjustment.markDeleted ? 'fa-undo' : 'fa-trash'"></i></b></a>
						</div> 
					</div> 
				</div>
			  	
			  	<div class="hidden-xs btn-group" role="group">
					<button type="button" class="btn btn-primary btn-xs" ng-repeat="option in $ctrl.move.options"
						ng-if="option.page==1 && option.item!=1 && option.item!=5" ng-click="$ctrl.addAdjustment(option)">
						<span ng-bind-html="option.text"></span> 
					</button>
				</div>
			  	<div class="list-group" style="margin-bottom: 15px;">
			  		<div ng-repeat="adjustment in $ctrl.getAdjustments()">
						<div class="list-group-item" ng-if="adjustment.option.page==1 && adjustment.option.item!=1 && adjustment.option.item!=5">
							<span ng-bind-html="adjustment.text" ng-class="{markdeleted: adjustment.markDeleted, marknew: (!adjustment.id)}"></span> 
							<a ng-click="$ctrl.removeAdjustment(adjustment)"
								style="margin-left: 5px;"><b><i class="fa" ng-class="adjustment.markDeleted ? 'fa-undo' : 'fa-trash'"></i></b></a>
						</div> 
					</div> 
				</div>
			  	
			  	<div class="hidden-xs btn-group" role="group">
					<button type="button" class="btn btn-primary btn-xs" ng-repeat="option in $ctrl.move.options"
						ng-if="option.page==2 && option.item<16" ng-click="$ctrl.addAdjustment(option)">
						<span ng-bind-html="option.text"></span> 
					</button>
				</div>
			  	<div class="list-group" style="margin-bottom: 15px;">
			  		<div ng-repeat="adjustment in $ctrl.getAdjustments()">
						<div class="list-group-item" ng-if="adjustment.option.page==2 && adjustment.option.item<16">
							<span ng-bind-html="adjustment.text" ng-class="{markdeleted: adjustment.markDeleted, marknew: (!adjustment.id)}"></span> 
							<a ng-click="$ctrl.removeAdjustment(adjustment)"
								style="margin-left: 5px;"><b><i class="fa" ng-class="adjustment.markDeleted ? 'fa-undo' : 'fa-trash'"></i></b></a>
						</div> 
					</div> 
				</div>
			  	
			  	<div class="hidden-xs btn-group" role="group">
					<button type="button" class="btn btn-primary btn-xs" ng-repeat="option in $ctrl.move.options"
						ng-if="option.page==2 && option.item>=16" ng-click="$ctrl.addAdjustment(option)">
						<span ng-bind-html="option.text"></span> 
					</button>
				</div>
			  	<div class="list-group" style="margin-bottom: 15px;">
			  		<div ng-repeat="adjustment in $ctrl.getAdjustments()">
						<div class="list-group-item" ng-if="adjustment.option.page==2 && adjustment.option.item>=16">
							<span ng-bind-html="adjustment.text" ng-class="{markdeleted: adjustment.markDeleted, marknew: (!adjustment.id)}"></span> 
							<a ng-click="$ctrl.removeAdjustment(adjustment)"
								style="margin-left: 5px;"><b><i class="fa" ng-class="adjustment.markDeleted ? 'fa-undo' : 'fa-trash'"></i></b></a>
						</div> 
					</div>
				</div>

			</div>

			<a ui-toggle="leftSwipe" class="selection-container-button visible-xs">
				<i ui-if="activeTab == 1" class="fa fa-user-plus"></i>
				<i ui-if="activeTab == 2" class="fa fa-plus"></i>
			</a>
			
		    <div class="selection-container" 
		    	ui-class="{'visible': leftSwipe == true, 'visible-xs': activeTab == 2}"
		    	ui-turn-off="leftSwipe">
		    	
		    	<div ui-if="activeTab == 1" class="player-container" ng-repeat="player in $ctrl.move.players">
		    		<div class="grid-cell">
	    				<div class="grid-face grid-face-{{player.pos}} noselect btn-group pull-right unavailable"
	    					style="background-image: url('/faceprev.php?sid={{player.id}}'); cursor: inherit;"></div>
	    				<player ng-if="!$ctrl.isPlayerSet(player)"
	    					object="player" on-move="$ctrl.grid.setPlayer(player, x, y)"></player>
		    		</div>
		    		<div class="noselect player-info" ng-class="{unavailable: ($ctrl.isPlayerSet(player))}">
						<div><player-link object="player"></player-link></div>
						<div>
							{{player.alter}} J<span class="hidden-xs">ahre</span> - 
							Moral {{player.moral}} / 
							Fitness {{player.fitness}} - 
							Skill {{player.skill | number : 2}} / 
							Opti <b>{{player.opti | number : 2}}</b>
							<!-- <span class="hidden-xs" ng-if="player.sonder">/ {{player.sonder}}</span>  -->
						</div>
					</div>
		    	</div>
		    	
	    		<div ui-if="activeTab == 2" class="list-group">
					<div ng-repeat="option in $ctrl.move.options">
						<a class="list-group-item" ng-click="$ctrl.addAdjustment(option)">
							<i class="fa fa-caret-square-o-right"></i> 
							<span ng-bind-html="option.text"></span> 
						</a>
					</div> 
				</div>
		    	
		    </div>
			
		</div>
	</div>
</div>

<div ui-content-for="modals">
	<div class="modal" ui-if="action" ui-state='action'>
		<div class="modal-backdrop in"></div>
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button class="close" ui-turn-off="action">&times;</button>
          			<h4 class="modal-title" >{{$ctrl.option.text}}</h4>
        		</div>
        		<div class="modal-body">
					<div ng-repeat="line in $ctrl.adjustmentForm.lines" class="row" style="margin: 0px;">
						<label for="sel">{{line.label}}</label>
						<div ng-repeat="combo in line.combos" class="col-xs-{{combo.width}} combo">
							<select class="form-control" id="sel" name="{{combo.name}}" ng-model="combo.value"
								 ng-options="option.value as option.label for option in combo.options">
							</select>
						</div>
					</div>
        		</div>
				<div class="modal-footer">
					<button ui-turn-off="action" class="btn btn-success" ng-click="$ctrl.saveAdjustment()">Speichern</button>
					<button ui-turn-off="action" class="btn btn-primary">Schließen</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" ui-if="load" ui-state='load'>
		<div class="modal-backdrop in"></div>
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button class="close" ui-turn-off="load">&times;</button>
          			<h4 class="modal-title" >Zugabgabe laden</h4>
        		</div>
        		<div class="modal-body">
					<label for="zat">Termin</label>
					<div class="combo">
						<select class="form-control" id="zat" name="zat" ng-model="$ctrl.zat" 
							ng-options="zat.value as zat.label for zat in $ctrl.move.zats">
						</select>
					</div>
        		</div>
				<div class="modal-footer">
					<button ui-turn-off="load" class="btn btn-success" ng-click="$ctrl.load(true)">Laden</button>
					<button ui-turn-off="load" class="btn btn-primary">Schließen</button>
				</div>
			</div>
		</div>
	</div>
</div>
