<div class="navbar-brand navbar-brand-center" ui-content-for="title">
	<div style="position: relative; ">
		<div style="position: absolute; top: -6px;">
		    <span style="white-space: nowrap;">
		    	Training<span class="hidden-xs">seinstellungen</span>
		    </span>
		    <br>
		    <span ng-repeat="trainer in $ctrl.getTrainerSelection()" 
		    	style="font-size: x-small; white-space: nowrap;">
					T<span class="hidden-xs">rainer</span> {{trainer.getKey()}}: 
					<span ng-class="{STU:trainer.players > trainer.max, ABW:trainer.players == trainer.max}"><b>{{trainer.players}}</b></span> <span class="hidden-xs">Spieler</span>
					<span ng-if="!$last"> - </span>
		    </span>
	    </div>
    </div>
</div>

<div class="btn-group pull-right" ui-content-for="navbarAction">
    <a class="btn btn-navbar" ng-click="$ctrl.load(false)">
		<i class="fa fa-folder-open-o"></i> <span class="hidden-xs">Laden</span>
    </a>
    <a class="btn btn-navbar" ng-click="$ctrl.save()">
    	{{ctrl.isModified()}}<span ng-class="$ctrl.isModified() ? 'STU' : 'ABW'">
       		<i class="fa fa-save"></i> <span class="hidden-xs">Speichern</span>
       	</span>
    </a>
</div>

<div class="scrollable">
	<div class="scrollable-content scroll-area">
    	<div class="section">
	    	<div ng-repeat="player in $ctrl.training.players" class="list-group-item player-line" style="width: 100%;">
	    		<div class="grid-cell">
    				<div ng-click="$ctrl.openPlayer(player)" class="grid-face grid-face-{{player.pos}} noselect"
    					style="background-image: url('/faceprev.php?sid={{player.id}}'); cursor: pointer;"></div>
	    		</div>
	    		<div class="noselect player-info" style="float: left; display: inline-block; padding-left: 8px;">
					<div style="width: 200px; text-overflow: ellipsis;">
						<player-link object="player"/>
					</div>
					<div style="white-space: nowrap;">
						{{player.alter}} J<span class="hidden-xs">ahre</span> - 
						Opti {{player.opti | number : 2}} 
						<span class="visible-xs-inline" ng-if="player.setting" ng-class="{marknew: (!player.setting.chance)}">
							-
							<b>{{$ctrl.getPlayerSkillName(player, true)}}</b>
							mit 
							<b>{{player.setting.trainerkey}}er</b> 
							<span ng-if="player.setting.chance">bei {{player.setting.chance | number : 2}}%</span>
						</span>
						<span class="visible-xs-inline" ng-if="player.verletzt">- verletzt</span>
					</div>
				</div>
				<div class="visible-xs noselect" style="float: right; display: inline-block;">
					<a class="brand" ng-if="player.setting && !player.verletzt" ng-click="$ctrl.editPlayerSetting(player)">
						<i class="fa fa-pencil"></i>
					</a>
					<a class="brand" ng-if="!player.setting && !player.verletzt" ng-click="$ctrl.editPlayerSetting(player)">
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<div ng-if="player.setting && !player.verletzt" class="combo hidden-xs left-input" style="margin-left: 10px; width: 190px;">
					<select class="form-control" id="skill-select" name="skill-select" ng-model="player.setting.skillnr"
						ng-options="skill.nr as skill.label for skill in $ctrl.getPlayerSkillSelection(player)">
					</select>
				</div>
				<div ng-if="player.setting && !player.verletzt" class="combo hidden-xs left-input" style="margin-left: 10px; width: 155px;">
					<select class="form-control" id="trainer-select" name="trainer-select" ng-model="player.setting.trainerkey"
						ng-options="trainer.getKey() as trainer.name + ' bis ' + trainer.skill for trainer in $ctrl.getTrainerSelection()"
						ng-change="$ctrl.changeTrainerSelection()">
					</select>
				</div>
				<div class="hidden-xs noselect left-input" style="padding: 6px;">
					<span ng-if="player.setting && !player.verletzt && player.setting.chance"> bei {{player.setting.chance | number : 2}}%</span>
					<span ng-if="player.verletzt" class="brand" style="padding-left: 7px;">
						<i class="fa fa-medkit"></i> verletzt</span>
					<a ng-if="!player.setting && !player.verletzt" class="brand" 
						ng-click="$ctrl.addPlayerSetting(player)"><i class="fa fa-plus"></i> Training festlegen</a>
					<a ng-if="player.setting && !player.verletzt" class="brand" 
						ng-click="$ctrl.deletePlayerSetting(player)"><i class="fa fa-trash"></i></a>
				</div>

	    	</div>
		</div>
	</div>
</div>

<div ui-content-for="modals">
	<div class="modal" ui-if="popupTrainingSetting" ui-state="popupTrainingSetting">
		<div class="modal-backdrop in"></div>
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button ng-if="$ctrl.dialog.player.setting" class="close" ui-turn-off="popupTrainingSetting" ng-click="$ctrl.deletePlayerSetting()"><i class="fa fa-trash"></i></button>
          			<h4 class="modal-title" >Training für {{$ctrl.dialog.player.name}}</h4>
        		</div>
        		<div class="modal-body">
					<label for="zat">Skill</label>
					<div class="combo" style="padding-right: 0px;">
						<select class="form-control" id="dialog-skill-select" name="dialog-skill-select" ng-model="$ctrl.dialog.setting.skillnr" 
							ng-options="skill.nr as skill.label for skill in $ctrl.getPlayerSkillSelection($ctrl.dialog.player, true)">
						</select>
					</div>
					<label for="zat">Trainer</label>
					<div class="combo">
						<select class="form-control" id="dialog-trainer-select" name="dialog-trainer-select" ng-model="$ctrl.dialog.setting.trainerkey" 
							ng-options="trainer.getKey() as trainer.name + ' bis ' + trainer.skill for trainer in $ctrl.getTrainerSelection()">
						</select>
					</div>
        		</div>
				<div class="modal-footer">
					<button ui-turn-off="popupTrainingSetting" class="btn btn-success" ng-click="$ctrl.savePlayerSetting()">Speichern</button>
					<button ui-turn-off="popupTrainingSetting" class="btn btn-primary">Schließen</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" ui-if="popupTrainingLoad" ui-state="popupTrainingLoad">
		<div class="modal-backdrop in"></div>
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button class="close fa fa-close" ui-turn-off="popupTrainingLoad"></button>
          			<h4 class="modal-title" >Trainingseinstellungen laden</h4>
        		</div>
        		<div class="modal-body">
					<label for="zat">Name</label>
					<div class="combo">
						<select class="form-control" id="config-name" name="config-name" ng-model="$ctrl.training.configid" 
							ng-options="config.id as config.label for config in $ctrl.training.config">
						</select>
					</div>
        		</div>
				<div class="modal-footer">
					<button ui-turn-off="popupTrainingLoad" class="btn btn-success" ng-click="$ctrl.load(true)">Laden</button>
					<button ui-turn-off="popupTrainingLoad" class="btn btn-primary">Schließen</button>
				</div>
			</div>
		</div>
	</div>
</div>
