<div ui-content-for="title">
   	<span>Willkommen bei Online Soccer</span>
</div>

<div ui-content-for="navbarAction">
	<div ng-hide="$ctrl.loggedIn" class="btn btn-navbar">
		<i class="fa fa-user-plus"></i> <a ng-href="#/os_anmeldung.html" class="btn-navbar hidden-xs">Registrieren</a>
	</div>
</div>

<div class="scrollable">
	<div class="scrollable-content section">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
				<form ng-submit="$ctrl.login()">
					<fieldset>
						<div class="form-group">
							<label>Manageremail</label>
							<input type="email" ng-model="$ctrl.email"  class="form-control" placeholder="E-Mailadresse eingeben">
						</div>
						<div class="form-group">
							<label>Passwort</label>
							<input type="password" ng-model="$ctrl.password" class="form-control" placeholder="Passwort eingeben">
						</div>
					</fieldset>
					<button class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px;">Einloggen</button>
				</form>
			</div>
			<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
				<div class="form-group">
					<p><strong>Was ist Online Soccer überhaupt?</strong></p>
					<p>Sicherlich kennst Du vom Computer her diverse Fußball-Managerspiele, bei denen Du das Geschick einer Mannschaft lenkst, indem Du Spieler kaufst, verkaufst und trainierst, die Mannschaftsaufstellung festlegst, die Mannschaft optimal auf den nächsten Gegner einstellst und Dich "nebenher" auch noch um die finanziellen Belange "Deiner" Mannschaft kümmern musst. Nun, genau das ist es, was Dich bei Online Soccer erwartet. Du übernimmst die sportliche und wirtschaftliche Leitung eines Fussballclubs und versuchst dabei, so erfolgreich wie möglich zu sein.<br>Allerdings versuchen das die 780 Mitstreiter natürlich ihrerseits ebenfalls; Und wie so oft im Leben heißt es auch hier - Nur einer kann am Ende oben stehen!</p>
				</div>
			</div>
		</div>
	</div>
</div>