
@media(max-width:767px) {
	
	.section {
		padding-left: 8px;
		padding-right: 8px;
	}
	
	.player-container {
		width: 0px;
		-webkit-transition: width 400ms ease;
		-o-transition: width 400ms ease;
		transition: width 400ms ease;
		-webkit-box-shadow: 0px 0px 6px 0px #000000;
		-moz-box-shadow: 0px 0px 6px 0px #000000;
		box-shadow: 0px 0px 6px 0px #000000;
		z-index: -1;
	}
	.player-container.visible {
		width: 100%;
		z-index: 1000;
		background-color: #111166;
	}
	.player-container.moving {
		background-color: transparent;
		-webkit-box-shadow: 0px 0px 0px 0px #000000;
		-moz-box-shadow: 0px 0px 0px 0px #000000;
		box-shadow: 0px 0px 0px 0px #000000;
	}
	.player-container.moving * {
		visibility: hidden;
	}
	.player-container.moving .grid-face.moving {
		visibility: visible;
	}
	.player-info {
		padding-left: 32px;
		padding-left: calc(94vw / 11 + 4px); 
	    height: 28px;
	    height: calc(94vw / 11); 
	    max-height: 40px;
		font-size: smaller;
	}
	.player-info a, .player-info a:hover {
		font-size: small;
		line-height: 1;
	}
	.grid-container {
	    height: 420px;
	    height: calc(94vw / 11 * 15); 
	    max-height: 600px;
	}
	.grid-border {
		width: 312px;
		width: calc(94vw + 5px); /* 1 extra pixel to avoid rounding problems */
		max-width: 444px;
	}
	.grid-cell, .grid-cell div {
		width: 28px;
		width: calc(94vw / 11);
		max-width: 40px;
	    height: 28px;
	    height: calc(94vw / 11); 
	    max-height: 40px;
	}
	.grid-face-name, .grid-face-name > div {
		font-size: 9px;
	}
	.subst-container {
	    height: 28px;
	    height: calc(94vw / 11); 
	    max-height: 40px;
	}
	.subst-border {
		width: 172px;
		width: calc(94vw / 11 * 6 + 4px);
		max-width: 244px;
	}
}

@media(min-width:768px) {
	
	.player-container {
		width: 301px;
		width: calc(100vw - 467px);
		z-index: 0;
	}
	.player-container.moving {
		width: 100%;
		padding-left: 475px;
	}
	.player-info {
		padding-left: 45px;
	    height: 40px;
	}
	.player-info a, .player-info a:hover {
		font-size: larger;
	}
	
	.grid-container {
	    height: 600px;
	}
	.grid-border {
		width: 444px;
	}
	.grid-cell {
		width: 40px;
	    height: 40px;
	}

	.subst-container {
	    height: 40px;
	}
	.subst-border {
		width: 244px;
	}
	
}
@media(min-width:992px) {

	.player-container {
		width: 305px;
		width: calc(100vw - 687px);
	}
}
@media(min-width:1200px) {

	.player-container {
		width: 513px;
		width: calc(100vw - 687px);
	}
}

.player-container {
	position: absolute;
	padding: 8px;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	overflow-y: scroll;
}
.player-container.moving {
	overflow-y: scroll;
}
.player-info > div {
	overflow: hidden; 
	white-space: nowrap;
}

.subst-border {
	border: 2px solid white;
	-webkit-box-shadow: 0px 0px 6px 0px #000000;
	-moz-box-shadow: 0px 0px 6px 0px #000000;
	box-shadow: 0px 0px 6px 0px #000000;
}
.subst-container {
	width: 100%;
	background-image: url('images/substbg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 100;
}

.grid-border {
	border: 2px solid white;
	-webkit-box-shadow: 0px 0px 6px 0px #000000;
	-moz-box-shadow: 0px 0px 6px 0px #000000;
	box-shadow: 0px 0px 6px 0px #000000;
}
.grid-container {
	width: 100%;
	background-image: url('images/gridbg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 100;
}
.grid-cell {
    float: left;
    position: relative;
}
.grid-cell.keeper-container > div {
	background-image: url('images/keeperbg.png');
	background-repeat: no-repeat;
    background-position: center top;
	width: 140%; 
	max-width: 140% !important; 
	height: 100%; 
	position: absolute; 
	left: -20%;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	-webkit-box-shadow: 0px 2px 6px 0px #000000;
	-moz-box-shadow: 0px 2px 6px 0px #000000;
	box-shadow: 0px 2px 6px 0px #000000;
}
.grid-face {
	width: 100%;
    height: 100%;
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    cursor: move;
	-webkit-box-shadow: 0px 0px 6px 0px #000000;
	-moz-box-shadow: 0px 0px 6px 0px #000000;
	box-shadow: 0px 0px 6px 0px #000000;
    position: absolute;
    z-index: 200;
}
.grid-face-name {
	position: absolute;
	height: 48% !important;
	width: 240% !important;
	max-width: 240% !important;
	top: 97%;
	left: -70%;
	background: transparent;
	z-index: 100;
}
.grid-face-name.moving {
	display: none;
}
.grid-face-name > div {
	-webkit-box-shadow: 0px 0px 6px 0px #000000;
	-moz-box-shadow: 0px 0px 6px 0px #000000;
	box-shadow: 0px 0px 6px 0px #000000;
	padding: 2px 4px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	display: table;
	margin: 0 auto;
	height: 100%;
}
.grid-face-TOR {
    background-color: #BBBB00;
    border-color: #BBBB00;
}
.grid-face-ABW {
    background-color: #00BB00;
    border-color: #00BB00;
}
.grid-face-DMI {
    background-color: #2244BB;
    border-color: #2244BB;
}
.grid-face-MIT {
    background-color: #44BBBB;
    border-color: #44BBBB;
}
.grid-face-OMI {
    background-color: #BB44BB;
    border-color: #BB44BB;
}
.grid-face-STU {
    background-color: #BB0000;
    border-color: #BB0000;
}

.TOR, .TOR:hover {
    color: #BBBB00;
}
.ABW, .ABW:hover {
    color: #00BB00;
}
.DMI, .DMI:hover {
    color: #2244BB;
}
.MIT, .MIT:hover {
    color: #44BBBB;
}
.OMI, .OMI:hover {
    color: #BB44BB;
}
.STU, .STU:hover {
    color: #BB0000;
}

.noselect {
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.navbar-app {
	border-color: #FBF9B3;
}
.navbar-app .btn, .navbar-app .btn-navbar {
	text-transform: none;
}
.navbar > .btn-group > .btn-navbar {
	border-radius: 0px;
}
.navbar > .btn-group > .btn-navbar.active {
	background-color: #FBF9B3;
	color: #111166;
}

.scrollable-content {
	background-color: #111166;
	z-index: 0;
}
.section {
	background-color: transparent;
	z-index: 0;
}

.sidebar-left .list-group {
	margin-bottom: 0px;
}
.sidebar-left .list-group-item,
.sidebar-left .scrollable-content {
	padding-top: 1px;
	padding-bottom: 2px;
	background-color: #050555;
}
.sidebar-left .list-group[ui-if] > .list-group-item {
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 1px;
}

@media (max-width: 1280px) {
	.sidebar-left .list-group-item {
		padding-top: 3px;
		padding-bottom: 4px;
	}
	.sidebar-left .list-group[ui-if] > .list-group-item {
		padding-top: 2px;
		padding-bottom: 3px;
	}
}

@media (max-width: 768px) {
	body, .btn, .navbar-brand, .form-control {
		font-size: 14px;
	}
	.sidebar-left .list-group-item {
		padding-top: 9px;
		padding-bottom: 10px;
	}
	.sidebar-left .list-group[ui-if] > .list-group-item {
		padding-top: 6px;
		padding-bottom: 7px;
	}
}
	